body {
    background-color: palegoldenrod;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
}

#instr1 {
    background-color: royalblue;
    margin: 0;
    white-space: nowrap;
}

#instr2 {
    background-color: royalblue;
    padding-top: 3%;
    margin: 0;
}

#instr3 {
    background-color: royalblue;
    padding-top: 3%;
    margin: 0;
}

#instr4 {
    background-color: royalblue;
    padding-top: 3%;
}

/* styles for the input element, adds to To-Do List */

input {
    min-width: 65%;
}

ul {
    text-align: left;
}

li {
    border: 2px transparent;
    margin-top: 4px;
}
#submit {
    background-color: red;

    
}

#submit:hover {
    background-color: orangered;
}

/* Styles for when a list item is marked done */

.done {
    background-color:  #40f756 !important;
    text-decoration: line-through;
    text-decoration-color: red;
}

.delete {
    display: none;
}

li > button {
    /* position: fixed; */
    float: right;
    border: none;
    background: none;
    margin-right: 5%;
}
